* {
    font-family: 'Roboto';
}

li {
    list-style: none;
}

header p, h1 {
    color: #F9FAF8;
}

header p {
    font-size: 24px;
}

#hero_section {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

#hero_section p, a {
    font-size: 18px;
    color: #E5E7EB;
}

#hero img { /**descendant combinator for image in hero section*/
    width: 400px;
    height: 220px;
}

header img {
    width: 50px;
}